* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #666;
  font-size: 13px;
  margin: 0; 
}

input,
textarea,
select,
button {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 13px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

#custom-textarea {
  resize: none;
  width: 100%;
  height: auto; /* Sử dụng auto để tự động mở rộng */
  min-height: 100px; /* Đặt chiều cao tối thiểu để tránh ô textarea quá nhỏ */
}

.inner {
  min-width: 850px;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 48px;
  background: url("../images/registration-form-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.4);
}
.inner h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 32px;
  color: #333;
  letter-spacing: 2px;
}

form {
  width: 50%;
  padding-left: 45px;
}

.form-group {
  display: flex;
}
.form-group .form-wrapper {
  width: 50%;
}
.form-group .form-wrapper:first-child {
  margin-right: 20px;
}

.form-wrapper {
  margin-bottom: 17px;
}
.form-wrapper label {
  margin-bottom: 9px;
  display: block;
  font-weight: 600;
}

.form-control {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  background: none;
  transition: background-color 0.5s ease;
}
.form-control:focus {
  border: 1px solid #ff914d;
  background-color: rgba(255, 145, 77, 0.1);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px;
}
select option[value=""][disabled] {
  display: none;
}

button {
  border: none;
  width: 152px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ff914d;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f11a09;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
button:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.checkbox {
  position: relative;
}
.checkbox label {
  padding-left: 22px;
  cursor: pointer;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  color: #000;
  font-size: 10px;
  font-weight: bolder;
}
.checkmark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  content: "\f26b";
}

@media (max-width: 991px) {
  .inner {
    min-width: 768px;
  }
}
@media (max-width: 767px) {
  .inner {
    min-width: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  form {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 25px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* Màu đen với độ mờ là 50% */
  z-index: 9998; /* Z-index thấp hơn phần thank-you-wrapper */
}


.thank-you-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 30vw;
  margin: 0 auto; /* Căn giữa theo chiều ngang */
  border: 1px solid #b4ec97;
  background: #bcfa9b;
  text-align: center;
  border-radius: 0.6rem;
  padding-bottom: 3rem;
  animation-delay: 0.4s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-name: getFullThankyouWidth;
}

.check-mark-block {
  position: relative;
  transform: translateY(0);
  opacity: 0;
  margin: auto;
  width: 8rem;
  height: 8rem;
  background-image: linear-gradient(to top, #99f449 0%, #05ebb5 100%);
  border-radius: 0.6rem;
  overflow: hidden;
  animation-delay: 0.4s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: loadUpThankyou;
}
.check-mark-wrapper {
  
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  margin: auto;
  padding: 5rem 10% 4rem 16%;
}
.check-mark-wrapper span {
  position: relative;
  width: 3rem;
  height: 0.7rem;
  background: transparent;
  display: block;
  border-radius: 30px;
  transform: rotate(0);
  transition: all 0.3s;
  transform: rotate(33deg);
  position: relative;
  filter: drop-shadow(20px 10px 10px rgba(0, 0, 0, 0.2));
  /*     border: 1px solid #ddd; */
}
.check-mark-wrapper span:last-child {
  width: 5rem;
  height: 0.7rem;
  display: block;
  border-radius: 30px;
  transform-origin: top;
  transition: all 0.3s;
  transform: translateY(-1.7rem) translateX(1rem) rotate(-56deg);
}
.check-mark-wrapper span::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  animation-delay: 0.65s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: getFullWidth;
}
.check-mark-wrapper span:last-child::before {
  animation-delay: 0.85s;
}

@keyframes getFullWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes getFullThankyouWidth {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 25%;
    opacity: 1;
  }
}
@keyframes loadUpThankyou {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-2.5rem);
    opacity: 1;
  }
}
@keyframes loadUp {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (max-device-width: 767px) {
  .thank-you-wrapper {
    animation-name: getFullThankyouWidthSmall;
  }
  @keyframes getFullThankyouWidthSmall {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 40%;
      opacity: 1;
    }
  }
}
